/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body,
body.ui-mobile-viewport.ui-overlay-a {
  position: relative;
}


/*
 * Global add-ons
 */

.sub-header {
  margin-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.full-width-slider input {
  display: none;
}
.no-margin-bottom {
  margin-bottom: 0;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar {
  margin: 0;
}
.navbar-nav i {
  font-size: 20px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.lighting-controls,
.media-controls,
.hvac-controls {
  padding: 0 15px;
}
.lighting-group-control {
  height: 80px;
  padding: 5px;
}
.song-control,
.tv-control,
.temp-control {
  position: relative;
}
.song-control > div.controls,
.tv-control > div.controls,
.temp-control > div.controls {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 28px;
}
.song-status {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0;
}
.volume-label {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}
.temp {
  margin: 0 8px;
}
.temp-down {
  color: #2D4471;
}
.temp-up {
  color: #AA3939;
}
#songPlay {
  display: none;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*
 * jQuery Mobile overrides
 */
.ui-page-theme-a a, html .ui-bar-a a, html .ui-body-a a, html body .ui-group-theme-a a {
  font-weight: normal;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
  text-shadow: none;
}

.ui-slider-track {
  margin-left: 15px;
}