.lock-icon {
	font-size: 1.7em;
	margin-right: auto;
	margin-left: auto;
}

.home-screen-text {
	margin-top: 50px;
	position: relative;
	color: #ecf0f1;
}

.lock {
	position: absolute;
	bottom: 125px;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

.lock-color {
	color: #ecf0f1;/*#333;*/
}

.lock-div {
	padding-left:0;
	padding-right:0;

}

.lock-button {
	width:100%;
	border-radius:0px;
	border-color: transparent;
}

.lock-lights {
	
}

.lock-media {
	
}

.lock-hvac {
	
}