.lock-icon {
	font-size: 1.7em;
	margin-right: auto;
	margin-left: auto;
}

.home-screen-text {
	margin-top: 50px;
	position: relative;
}

.lock {
	position: absolute;
	bottom: 125px;
	width: 100%;
}

.lock-color {
	color: #333;
}